In [1]:
from src import *
form = {
    Generic('{}.json', DataTypes.IMAGE_SET_NAME): JSONFile({
        'images': GenericList([{
            'id': DataTypes.IMAGE_ID,
            'file_name': Generic('{}.jpg', DataTypes.IMAGE_NAME)
        }]),
        'categories': Pairing(GenericList([{
            'id': DataTypes.BBOX_CLASS_ID,
            'name': DataTypes.BBOX_CLASS_NAME
        }]), DataTypes.BBOX_CLASS_ID, DataTypes.BBOX_CLASS_NAME),
        'annotations': GenericList([{
            'image_id': DataTypes.IMAGE_ID,
            'category_id': DataTypes.BBOX_CLASS_ID,
            'bbox': GenericList([
                DataTypes.X1, DataTypes.Y1, DataTypes.X2, DataTypes.Y2
            ])
        }])
    }),
    'images': {
        Generic('{}.jpg', DataTypes.IMAGE_NAME): Image()
    }
}
cvdata = CVData('/Users/atong/Documents/Datasets/Avo', form)
cvdata.cleanup()

[CVData] Cleaning up data...
[CVData] Done!

In [1]:
from src import *
alias = Alias([
    Generic("{}", DataTypes.IMAGE_NAME),
    Generic("{}_{}", DataTypes.CLASS_NAME, DataTypes.GENERIC)
])
root = '/Users/atong/Documents/Datasets/OxfordPets'
form = {
    Static("annotations"): {
        Generic("{}.txt", DataTypes.IMAGE_SET_NAME): TXTFile(
            GenericList(Generic(
                "{} {} {} {}", alias, DataTypes.CLASS_ID, DataTypes.GENERIC, DataTypes.GENERIC
            )),
            ignore_type = '#'
        ),
        "trimaps": {
            Generic("{}.png", DataTypes.IMAGE_NAME): SegmentationImage()
        },
        "xmls": {
            Generic("{}.xml", DataTypes.IMAGE_NAME): XMLFile({
                "annotation": {
                    "filename": Generic("{}.jpg", DataTypes.IMAGE_NAME),
                    "object": AmbiguousList({
                        "name": DataTypes.BBOX_CLASS_NAME,
                        "bndbox": {
                            "xmin": DataTypes.XMIN,
                            "ymin": DataTypes.YMIN,
                            "xmax": DataTypes.XMAX,
                            "ymax": DataTypes.YMAX
                        }
                    })
                }
            })
        }
    },
    Static("images"): {
        Generic("{}.jpg", alias): Image()
    }
}
cvdata = CVData(root, form)
cvdata.cleanup()

[CVData] Cleaning up data...
[CVData] Done!

In [2]:
cvdata.available_modes

['classification', 'detection', 'segmentation']

In [5]:
cvdata.get_dataset('detection', 'trainval')

Removed 9 NaN entries.

In [3]:
from src import *
form = {
    Generic('{}.json', DataTypes.IMAGE_SET_NAME): JSONFile({
        'images': GenericList([{
            'id': DataTypes.IMAGE_ID,
            'file_name': Generic('{}.jpg', DataTypes.IMAGE_NAME)
        }]),
        'categories': Pairing(GenericList([{
            'id': DataTypes.SEG_CLASS_ID,
            'name': DataTypes.SEG_CLASS_NAME
        }]), DataTypes.SEG_CLASS_ID, DataTypes.SEG_CLASS_NAME),
        'annotations': GenericList([{
            'image_id': DataTypes.IMAGE_ID,
            'category_id': DataTypes.SEG_CLASS_ID,
            'segmentation': GenericList(SegmentationObject([
                DataTypes.X, DataTypes.Y
            ]))
        }])
    }),
    'images': {
        Generic('{}.jpg', DataTypes.IMAGE_NAME): Image()
    }
}
cvdata = CVData('/Users/atong/Documents/Datasets/AvoMasks', form)
cvdata.cleanup()

[CVData] Cleaning up data...
[CVData] Done!

In [3]:
cvdata.dataframe

,IMAGE_NAME,ABSOLUTE_FILE_SEG,BBOX_CLASS_NAME,XMIN,YMIN,XMAX,YMAX,CLASS_NAME,CLASS_ID,IMAGE_SET_NAME,ABSOLUTE_FILE,BOX,IMAGE_ID,IMAGE_SET_ID
0,chihuahua_172,/Users/atong/Documents/Datasets/OxfordPets/ann...,[dog],[82.0],[34.0],[157.0],[123.0],chihuahua,11,"[list, trainval]",/Users/atong/Documents/Datasets/OxfordPets/ima...,"[(82.0, 34.0, 157.0, 123.0)]",0,"[2, 3]"
1,Abyssinian_201,/Users/atong/Documents/Datasets/OxfordPets/ann...,NaN,NaN,NaN,NaN,NaN,Abyssinian,1,"[list, test]",/Users/atong/Documents/Datasets/OxfordPets/ima...,[],1,"[2, 0]"
2,Birman_70,/Users/atong/Documents/Datasets/OxfordPets/ann...,NaN,NaN,NaN,NaN,NaN,Birman,7,"[list, test]",/Users/atong/Documents/Datasets/OxfordPets/ima...,[],2,"[2, 0]"
3,pomeranian_191,/Users/atong/Documents/Datasets/OxfordPets/ann...,NaN,NaN,NaN,NaN,NaN,pomeranian,25,"[list, test]",/Users/atong/Documents/Datasets/OxfordPets/ima...,[],3,"[2, 0]"
4,Russian_Blue_17,/Users/atong/Documents/Datasets/OxfordPets/ann...,[cat],[22.0],[1.0],[320.0],[276.0],Russian_Blue,28,"[list, trainval]",/Users/atong/Documents/Datasets/OxfordPets/ima...,"[(22.0, 1.0, 320.0, 276.0)]",4,"[2, 3]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7385,chihuahua_38,/Users/atong/Documents/Datasets/OxfordPets/ann...,NaN,NaN,NaN,NaN,NaN,chihuahua,11,"[list, test]",/Users/atong/Documents/Datasets/OxfordPets/ima...,[],7385,"[2, 0]"
7386,miniature_pinscher_131,/Users/atong/Documents/Datasets/OxfordPets/ann...,[dog],[109.0],[43.0],[195.0],[151.0],miniature_pinscher,22,"[list, trainval]",/Users/atong/Documents/Datasets/OxfordPets/ima...,"[(109.0, 43.0, 195.0, 151.0)]",7386,"[2, 3]"
7387,samoyed_104,/Users/atong/Documents/Datasets/OxfordPets/ann...,[dog],[187.0],[18.0],[320.0],[179.0],samoyed,30,"[list, trainval]",/Users/atong/Documents/Datasets/OxfordPets/ima...,"[(187.0, 18.0, 320.0, 179.0)]",7387,"[2, 3]"
7388,Abyssinian_114,/Users/atong/Documents/Datasets/OxfordPets/ann...,[cat],[222.0],[64.0],[351.0],[185.0],Abyssinian,1,"[list, trainval]",/Users/atong/Documents/Datasets/OxfordPets/ima...,"[(222.0, 64.0, 351.0, 185.0)]",7388,"[2, 3]"
7389,keeshond_103,/Users/atong/Documents/Datasets/OxfordPets/ann...,[dog],[138.0],[80.0],[398.0],[384.0],keeshond,19,"[list, trainval]",/Users/atong/Documents/Datasets/OxfordPets/ima...,"[(138.0, 80.0, 398.0, 384.0)]",7389,"[2, 3]"

In [3]:
from src import *
import xmltodict
with open('/Users/atong/Documents/Datasets/OxfordPets/annotations/xmls/Bengal_104.xml', 'r', encoding='utf-8') as f:
    data = xmltodict.parse(f.read())
print(get_str(data))

{
    annotation: {
        folder: OXIIIT,
        filename: Bengal_104.jpg,
        source: {
            database: OXFORD-IIIT Pet Dataset,
            annotation: OXIIIT,
            image: flickr
        },
        size: {
            width: 500,
            height: 463,
            depth: 3
        },
        segmented: 0,
        object: {
            name: cat,
            pose: Frontal,
            truncated: 0,
            occluded: 0,
            bndbox: {
                xmin: 95,
                ymin: 20,
                xmax: 279,
                ymax: 244
            },
            difficult: 0
        }
    }
}